*{
    box-sizing: border-box;
    margin: 0;
    padding: 0rem;
}

.other{
  margin-left: 12vw;
  margin-top: 0.75rem;
}

h1{
  margin: 1rem;
}

h2{
  margin: 0.25rem;
}

form {
    max-width: 25rem;
  }

  label {
    display: block;
    font-size: 100%;
    margin-bottom: 0.8rem;
  }

  input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    width: fit-content;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }